Package: com.greyd00r.controlcenter
Name: ControlCenter
Depends: com.greyd00r.panel
Version: 0.0.1
Architecture: iphoneos-arm
Description: I promise it doesn't bite, much.
Maintainer: Bruan
Author: Bruan
Section: Addons (Lockscreens)